<% include partials/header %>

<div class='ui main text container segment'>
    <div class='ui huge header'>New Blog</div>        
    <form class='ui form' action='/blogs' method='post'>
        <div class='field'>
            <lable>Title</lable> 
            <input type='text' name='blog[title]' placeholder='title'>
        </div>
        <div class='field'>
            <lable>Image url</lable> 
            <input type='text' name='blog[image]' placeholder='image url'>
        </div>
        <div class='field'>
            <lable>Blog Content</lable> 
            <textarea name='blog[body]'></textarea>
        </div>
        <button class='ui blue big basic button' type='submit'>Submit</button>
    </form>
</div>


<% include partials/footer %>