.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 10px;
}

.footer {
    text-align: center;
    color: rgba(0,0,0,0.5);
    margin: 10px 0 0 0;
}
