body {
	background-color: #232323;
	margin: 0;
	font-family: "Arial","Montserrat","Avenir";
	font-weight: 400;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 1.0s; /*transition animation only when background change*/
	-webkit-transition: background 1.0s; /*for safari*/
	-moz-transition: background 1.0s; /*for firefox*/
}

#container {
	max-width: 600px;
	margin: 1% auto;

}

.wrong {
	background-color: #232323;
}

h1 {
	color: white;
	background: #90C3D4;
	text-align: center;
	line-height: 1.1; /*need to add padding after this*/
	padding: 20px 0; /*only top and bottom*/
	background: steelblue;
	margin: 0;
	font-size: 1.75em;
	font-weight: lighter;
	text-transform: uppercase;
	transition: background 1.0s; /*transition animation only when background change*/
	-webkit-transition: background 1.0s; /*for safari*/
	-moz-transition: background 1.0s; /*for firefox*/
}


button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%; /* take 100% of the containning element, which is the #menu-bar */
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s; /*all kinds of transitions, do it with 0.3s animation*/
	-webkit-transition: all 0.3s; 
	-moz-transition: all 0.3s; 
	outline: none; /*turn on and off to see changes*/
}
button:hover {
	color: white;
	background: steelblue;
}
/*
span {
	color: white;
}
*/

#menu-bar {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black; /*overwritten by span color, so we comment out span*/
	font-size: 0.5em;
}

#message { 
	display: inline-block; /*this and the width will reserve space even when there is no message at first*/
	width: 15%; 
}

.selected {
	background-color: steelblue;
	color: white;
}
