<% include partials/header /*can't use /partials/header, because that means looking for the partials folder at the root*/ %>

<h1>campgrounds</h1>

<a href='/campgrounds/new'>add a new campground</a>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src='<%= campground.image %>'> 
    </div>
<% }) %>



<% include partials/footer %>