<% include partials/header /*can't use /partials/header, because that means looking for the partials folder at the root*/ %>
<h1>langding</h1>

<a href='/campgrounds'>campgrounds</a>


<% include partials/footer %>