<% include partials/header %>
    
    <h1>add a new campground</h1>
    <form action='/campgrounds' method='post'>
        <input type='text' name='name' placeholder='name'>
        <input type='text' name='image' placeholder='image url'>
        <button type='submit'>Add</button>
    </form>
    
    <a href='/campgrounds'>Go Back</a>
    
<% include partials/footer %>