body {
  background-color: #000;
}

#landing-header {
	z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 30vh;
}

#landing-header h1 {
	color: #fff;
}

.cb-slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cb-slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) {
    background-image: url(http://img1.lotour.net/cmsMustKnowScenic/2015/04/2015040911195781600722.jpg);
}
.cb-slideshow li:nth-child(2) { 
    background-image: url(http://www.chinfor.com/uploads/webimg/fulls/ejXDiiXbgrTJ.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) {
    background-image: url(http://image92.360doc.com/DownloadImg/2015/12/1215/62807551_68.jpg);
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) { 
    background-image: url(http://upload.17u.net/uploadpicbase/2012/06/14/aa/2012061418040638709.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) { 
    background-image: url(http://www.jxcct.com/Pictures/TrustSoft/LinesEdit/image/20160222/20160222170952_1162.jpg);
    animation-delay: 24s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
