/*
body {
    background: url(https://www.walldevil.com/wallpapers/a11/background-backgrounds-abstract-advertisements-presentations-web-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 10px;
}

.footer {
    text-align: center;
    color: rgba(0,0,0,0.5);
    margin: 10px 0 0 0;
}

#delete-form {
    display: inline;
}

#map {
    /*max-width: 200px;*/
    width: 100%;
    height: 200px;
    margin: 10px auto;
}

.good-location {
    background-color: green;
    border: none;
}

.bad-location {
    background-color: red;
    border: none;
}

#commentHR {
    border-top: 1px solid #8c8b8b;
    margin: 6px 0;
}

#commentP {
    margin: 0;
}
